body {
  font-family: "Roboto", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  text-align: center;
}
.infoBg {
  color: white;
  background: black;
  padding: 10px;
  font-size: 50px;
  border-radius: 5px;
  /* margin-bottom: 40px; */
}
.color {
  color: hsl(205, 78%, 60%);
}
a {
  bottom: 100px;
  margin: 0 auto;
  font-size: 30px;

  padding: 10px 20px;
  background: transparent;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s all ease-in-out;
}
a:hover {
  background: black;
  color: white;
}
a:active{
  transform: translateY(10px);
}
